/* Light: 300 */
/* Regular: 'normal'/400 */
/* Medium: 500 */
/* Bold: 'bold'/700 */

* { box-sizing: border-box }

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: 420px;

  background: #F8F8F8;
}

/**
 * Higher level layout and aesthetic rules for NewTab
 */
.popup {
  height: 420px;
  width: 300px;
  color: #2B2B2B;
}

  /**
   * Tab Groups section
   */
  .popup--tab-groups {
    text-align: left;
    margin-top: 20px;
    height: 333px;
    overflow: auto;
  }

/**
 * Sleep Window Button Component
 */
.sleep-window-button {
  margin: 10px;
  margin-top: 20px;
  width: 280px;
  height: 48px;
  display: block;
  cursor: pointer;
  background: #2196F3;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.sleep-window-button:hover {
  background: #319EF5;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

  .sleep-window-button span {
    line-height: 24px;
    font-size: 16px;
    text-transform: capitalize;
  }

    .sleep-window-button .icon {
      margin-right: 0.3rem;
    }

    .sleep-window-button * {
      vertical-align: middle;
    }


/**
 * TabGroup component
 */
.tab-group {
  margin: 0 auto 10px auto;
  width: 280px;
  display: block;

  border: none;
  border-radius: 2px;
  background: white;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;

  font-size: 15px;
}

  .tab-group--title-action-container {
    display: flex;
    flex-direction: row;

    padding: 0.75rem;
  }

    .tab-group--title {
      display: inline-block;
      flex: 1;

      text-align: left;
      font-weight: 400;

      font-size: 12px;
      color: #777777;
    }

    .tab-group--actions {
      display: inline-block;
    }

      .tab-group--actions a:hover {
        cursor: pointer;
        opacity: 0.6;
        transition: 100ms;
      }

      .tab-group--actions>li {
        display: inline-block;

        margin: 0;
        margin-left: 0.25rem;
      }


  .tab-group--urls {
    padding: 0.75rem;
    padding-top: 0;
  }

    .tab-group--urls li {
      margin-top: 0.5rem;
    }

    .tab-group--urls a {
      text-decoration: none;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #2B2B2B;
    }

    .tab-group--urls a:hover {
      /*text-decoration: underline;
      color: #2B2B2B;*/
      cursor: default;
    }

  .tab-group--expand {
    padding: 0.75rem;
    padding-top: 0;
    font-size: 12px;
    text-align: right;
    color: #1976D2;
  }

  .tab-group--expand a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
